html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: rgb(231, 231, 231);
}
/*about section*/

#about {
  min-height: 100vh;
  display: flex;
  width: 100%;
}
#about > * {
  min-width: 0;
}
#selfImgContainer {
  display: inline-flex;
  align-content: center;
  background-color: #121212;

  width: min(100%, 650px);
  margin-top: 20px;
  margin-left: 50px;
  border-radius: 16px;
}
#selfImgContainer h1 {
  font-weight: 20px;
  text-align: left;
  font-size: 60px;
  color: rgb(255, 255, 255);
  height: 390px;
  width: min(100%, 330px);
  line-height: 1;
  font-family: "Space Grotesk", sans-serif;
  margin-top: 5px;
}
#selfImg {
  border-radius: 16px;
  border: 5px solid black;
}
#educationAndExperience {
  max-width: 400px;
  width: 100%;
}
#educationAndExperience h1 {
  font-size: 35px;
  margin-top: 100px;
  height: fit-content;
  max-width: min(100%, 468px);
  width: 100%;
  line-height: 1;
}
#educationAndExperience p {
  width: min(100%, 400px);
}
#hello {
  font-size: 80px;
}
#softwareDeveloper {
  color: grey;
}
.autobiography {
  width: min(100%, 900px);
}
#autobiographyTitleContainer {
  margin-top: 10px;
  display: flex;
  margin-left: 50px;
}
.autobiography p {
  margin-top: 10px;
  margin-left: 50px;
  gap: 0;
  font-size: 15.65px;
  width: min(100%, 400px);
  font-family: "Inter", sans-serif;
  color: rgb(0, 0, 0);
}
.autobiographyTitle {
  display: flex;
  font-size: 29px;
  width: min(100%, 608px);
  height: fit-content;
  line-height: 1;
  text-align: left;
  color: rgb(0, 0, 0);
}
#line1And2 {
  margin-top: 14px;
}

/**/

hr {
  margin-top: 0;
  height: 5px;
  background-color: #000000;
}

#home {
  display: flex;

  justify-content: center;

  background-image: url("assets/backGround.jfif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
}
.topButtons {
  display: flex;
  top: 5px;
  height: 0;
  position: sticky;
  width: 100%;
}
.navBarLinks {
  opacity: 0.8;
  display: flex;
  height: 20px;
  width: fit-content;
  padding-inline: 10px;
  border: none;
  gap: 8px;

  background-color: rgb(255, 255, 255);
  border-radius: 5px;

  margin-left: auto;
  justify-content: center;
}
.navBarLinks:hover {
  transition: 0.2s;
  opacity: 1;
}
.navBarLinks a {
  text-decoration: none;
  color: black;
  font-family: Arial, Helvetica, sans-serif;

  border: none;
  background-color: transparent;
  font-weight: bold;
  font-size: 15px;
}
.navBarLinks a:hover {
  margin-top: 2px;
  color: rgb(48, 48, 48);
}
.navBarLinks a:active {
  opacity: 0.8;
}
.langButtonContainer {
  opacity: 0.5;
  margin-left: auto;
  margin-right: 10px;
  display: flex;
  background-color: rgba(255, 255, 255, 0.733);
  height: 23px;
  border-radius: 5px;
}
.langButtonContainer:hover {
  opacity: 1;
}
.langButtonContainer button {
  border: none;
  background-color: transparent;
  font-weight: bold;
}
.langButtonContainer button:hover {
  opacity: 0.5;
  margin-top: 2px;
}
.langButtonContainer button:active {
  margin-top: 4px;
}
.portfolioCenter {
  display: flex;
  flex-direction: column;
  height: 170px;
  width: min(100%, 470px);
  border: none;
  background-color: transparent;
  align-items: center;
  justify-content: center;

  margin-top: 265px;
}
.nameAndYear {
  display: flex;
  gap: 170px;
}
.position {
  margin-right: 30px;
  font-family: monospace;
  font-size: 20px;
  width: 400px;
}
h1 {
  font-size: 100px;
  height: 72px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 0.65;
  margin-right: auto;
}
.myName {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  height: 20px;
  margin-top: 2px;
  margin-left: 10px;
}
.year {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 0px;
}
h1,
h2 {
  margin: 0;
}
